@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
body {
	background-color:#eee;
	font-family:'Raleway';
	margin:0;
}
h1, h2, h3, #header {
	font-family:'Electrolize';
}
h1 {
	font-size:3em;
	padding:5px;
	text-align:right;
	display:inline;
}
#header {
	margin:0;
	background-color:#000;
	color:#eee;
	padding:3px;
	border-bottom:3px solid #ccc;
	overflow:hidden;
	white-space:nowrap;
}
#header .subtitle {
	letter-spacing:2px;
	color:#ccc;
	text-transform:lowercase;
	display:inline;
}
.subtitle li {
	display:inline;
	margin-left:20px;
}
ul.project-nav li{
	list-style-type:none;
}
ul.project-nav {
	float:right;
	margin:0;
	padding:2px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-bottom-left-radius: 5px;
	text-align:right;
}
#main {
	margin-left:auto;
	margin-right:auto;
	width:800px;
}
#introduction {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	padding-right:50px;
	padding-left:50px;
	font-size:110%;
}
#projects {
	border: 1px solid #ddd;
	border-radius:5px;
	padding:10px;
}
h2 {
	text-align:center;
	font-variant:small-caps;
}
.project {
	font-size:80%;
	overflow:hidden;
	border:1px solid #ddd;
	border-radius:5px;
	padding:5px;
	width:240px;
	margin:2px;
	display:inline-block;
}
a.source {
	display:block;
	float:right;
}
ul#project-key {
	float:right;
	display:block;
	cursor:pointer;
}
ul#project-key li {
	list-style-type:none;
	border:1px solid #ddd;
	font-size:60%;
	margin:2px;
	padding:2px;
	text-align:center;
}
li#project-lang-all {
	font-weight:bold;
}
div#project-list {
	clear:both;
}
