@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);

#header {
background-color:#000;
border-bottom:3px solid #ccc;
color:#eee;
margin:0;
overflow:hidden;
padding:3px;
/*white-space:nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%; */
}

#header .subtitle {
color:#ccc;
display:inline;
letter-spacing:2px;
text-transform:lowercase;
}

#introduction {
border-left:1px solid #ddd;
border-right:1px solid #ddd;
padding-left:50px;
padding-right:50px;
}

#main {
margin-left:auto;
margin-right:auto;
width:800px;
}

.box {
border:1px solid #ddd;
border-radius:5px;
padding:10px;
margin-bottom:10px;
}

.large {
font-size:110%;
}

.project {
border:1px solid #ddd;
border-radius:5px;
display:inline-block;
font-size:80%;
margin:2px;
overflow:hidden;
padding:5px;
width:240px;
}

.subtitle li {
display:inline;
margin-left:20px;
}

a {
color:#222;
}

.subtitle a {
	color:#ccc;
	text-decoration:none;
}

a.source {
display:block;
float:right;
}

body {
background-color:#eee;
font-family:Raleway;
margin:0;
}

div#project-list {
clear:both;
}

h1 {
display:inline;
font-size:3em;
padding:5px;
text-align:right;
}

h1,h2,h3,#header {
font-family:Electrolize;
}

h2 {
font-variant:small-caps;
text-align:center;
}

li#project-lang-all {
font-weight:700;
}

ul#project-key {
cursor:pointer;
display:block;
}

ul#project-key li {
border:1px solid #ddd;
font-size:60%;
list-style-type:none;
margin:2px;
padding:2px;
text-align:center;
display:inline;
}

ul.project-nav {
border-bottom:1px solid #ddd;
border-bottom-left-radius:5px;
border-left:1px solid #ddd;
border-top:1px solid #ddd;
float:right;
margin:0;
padding:2px;
text-align:right;
}

ul.project-nav li {
list-style-type:none;
}