@import url(http://fonts.googleapis.com/css?family=Electrolize);
body {
	background-color:#eee;
	font-family:'Electrolize';
	margin:0;
}

h1 {
	font-size:3em;
	padding:5px;
	text-align:right;
	display:inline;
}
#header {
	margin:0;
	background-color:#000;
	color:#eee;
	padding:3px;
	border-bottom:3px solid #ccc;
	overflow:hidden;
	white-space:nowrap;
}
#header .subtitle {
	letter-spacing:2px;
	color:#ccc;
	text-transform:lowercase;
	display:inline;
}
.subtitle li {
	display:inline;
	margin-left:20px;
}

#main {
	margin-left:auto;
	margin-right:auto;
	width:800px;
}
#introduction {
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	padding-right:50px;
	padding-left:50px;
	font-size:110%;
}
#projectlist {
	margin-left:10px;
	margin-right:10px;
}
#projects {
	border: 1px solid #ddd;
	border-radius:5px;
	padding:20px;
}
h2 {
	text-align:center;
	font-variant:small-caps;
}
.project {
	font-size:80%;
	width:230px;
	height:300px;
	overflow:hidden;
	display:inline-block;
	border:1px solid #ddd;
	border-radius:5px;
	padding:5px;
}
